{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="{{ path('admin') }}">Vous êtes administrateur, accéder au back-office</a></small><br/>
    {% endif %}
    Bienvenue dans votre compte {{ app.user.firstname }}<br/>
    C'est dans cet espace que vous allez gérer votre compte.
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_adress') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
{% endblock %}
