{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-single-price">{{ (product.price /100)|number_format(2,',','.') }} $</span>
            <hr>
            <p>{{ product.description|raw }}</p>
            <a href="{{ path('add_to_cart', {'id':product.id}) }}" class="btn btn-info btn-sm">Ajouter au panier</a>
        </div>
    </div>
    <hr class="mb-5"/>
    <h3 class="text-center">Nos meilleures ventes</h3>
    <p class="text-center">Decouvrez les articles les plus vendus</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
