{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifier vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>adresse de livraison</strong><br/>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>
            <hr>
            <strong>Mon transporteur</strong><br/>
            <div class="form-check">
                {{ carrier.name }} - {{ carrier.price|number_format(2,',','.') }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.illustration }}" height="60px"><br>
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br/>
                            <small>{{ product.product.subtitle }}</small>
                            <br/> x {{ product.quantity }}
                        </div>
                        <div class="col-2">
                            {{ (product.product.price * product.quantity /100)|number_format(2,',','.') }}
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-Total : {{ (total /100)|number_format(2,',','.') }} $</strong><br/>
            <strong>Livraison : {{ carrier.price|number_format(2,',','.') }}</strong>
            <hr>
            <strong>Total : {{ (total/100 + carrier.price)|number_format(2,',','.') }}</strong>
            <a id="checkout-button" class="btn btn-success btn-block mt-3">Payer {{ (total/100 + carrier.price)|number_format(2,',','.') }} $</a>
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script>
    let stripe =
    Stripe("pk_test_51JQ9T1EDco8ISEWwGMLZlujiUiXYdYbb6KdtRDgZgRgvIAwYc4pYXFuVbffLHgzFXfdk4MsY8KDkWH6GoIqfke4X00WENXBqfN");
    document.getElementById("checkout-button").addEventListener('click', function (e) {
    fetch("/commande/create-session/{{ reference }}", {
        method: "POST"
    })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            if (session.error == 'order') {
window.location.replace('{{ path('order') }}');

            } else {
                return stripe.redirectToCheckout({sessionId: session.id});
            }
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.log(error);
        })
})
</script>
{% endblock %}
